[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
pinecone-client = "*"
streamlit = "*"
streamlit-chat = "*"
langchain-pinecone = "*"
langchain-openai = "*"
langchain-community = "*"
langchainhub = "*"
python-dotenv = "*"
beautifulsoup4 = "*"

[dev-packages]

[requires]
python_version = "3.9"
