[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
pinecone-client = "*"
streamlit = "*"
streamlit-chat = "*"
langchain-pinecone = "*"
langchain-openai = "*"
langchain-community = "*"
langchainhub = "*"
python-dotenv = "*"
beautifulsoup4 = "*"
langchain-experimental = "*"
docarray = "*"
jupyter = "*"
giskard = {extras = ["llm"], version = "*"}
ruff = "*"
bs4 = "*"
ipytest = "*"
pydantic = "==1.10.8"
langchain-huggingface = "*"
scikit-learn = "*"
rouge-score = "*"

[dev-packages]

[requires]
python_version = "3.9"
